<div class="card">
    <div class="card-body">
        <img src="https://exambazaar.s3.amazonaws.com/ddff78f95694f1f95289e0e4cdc7c20f.png" width="80" alt="">
        <h6 class="my-2">Coaching Class Name</h6>
        <div class="rating mb-0 text-primary">
            <span class="material-icons">star</span>
            <span class="material-icons">star</span>
            <span class="material-icons">star</span>
            <span class="material-icons">star_outline</span>
            <span class="material-icons">star_outline</span>
        </div>
    </div>
</div>