<div class="jumbotron jumbotron-fluid my-0 bg-transparent">
    <div class="container mt-5">
      <div class="header">
          <div class="rounded-circle">
              <img src="https://exambazaar.s3.amazonaws.com/7d1f7e3fd85d0152bd69bd91708aec65.png" width="100" alt="">
            </div>
          <div class="ml-5">
              <h1>Coaching Name</h1>
              <div class="d-flex justify-content-start">
                  <span class="material-icons text-primary">place</span> 
                  <p>Full coaching address</p>
              </div>
              <div class="mb-2 text-primary">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star_outline</span>
                <span class="material-icons">star_outline</span>
            </div>
            </div>
        </div>
        <nav class="nav border-top border-bottom mt-5 mb-4">
        <a class="nav-link active" href="#">Overview</a>
        <a class="nav-link" href="#">Courses</a>
        <a class="nav-link" href="#">Faculty</a>
        <a class="nav-link" href="#">Results</a>
        <a class="nav-link" href="#">Photos</a>
        <a class="nav-link" href="#">Videos</a>
        <a class="nav-link" href="#">Reviews</a>
        </nav>
      <div class="container">
          <p class="lead">At Toppr, students are at the centre of our universe. We believe that every student is different and has different learning needs. We work relentlessly to solve student problems using advanced technology and help them learn better. We have thoughtfully designed Toppr to ensure that it is a one-stop after-school learning platform. It has more than 1.5 million learning pieces, including adaptive practice questions, solutions, concepts, and videos that come together seamlessly to give 360° learning. We use artificial intelligence based machine learning algorithms on top of this strong infrastructure, to create personalised learning paths for millions of students. Show Less</p>
      </div>

    </div>
  </div>