.ratings{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.ratings app-rating-card{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
}

.ratings::-webkit-scrollbar {
    height: 10px;
}

.ratings::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.ratings::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.contact__Form{
    background-image: url("https://cdn.shopify.com/s/files/1/0493/6977/6278/files/default_name_3_1600x.jpg?v=1601028263");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}